@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #1e1e1e, #3c3c3c);
  color: #fff;
  transition: background 1s ease;
}

.container {
  max-width: 600px;
  padding: 20px 50px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h1 {
  font-family: "Short Stack", cursive;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

button {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 50px;
  cursor: pointer;
  background-color: #6200ea;
  border: none;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3700b3;
}

#affirmation {
  font-family: "Short Stack", cursive;
  margin-top: 30px;
  font-size: 1.5em;
  color: #03dac6;
  min-height: 50px;
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
}

#affirmation.show {
  opacity: 1;
  transform: scale(1);
}

#error {
  color: #cf6679;
  margin-top: 20px;
}

@keyframes fadeIn {
  0% { opacity: 0; transform: scale(0.9); }
  100% { opacity: 1; transform: scale(1); }
}

@media (max-width: 600px) {
  .container {
    padding: 10px 50px;
  }

  h1 {
    font-size: 2.5em;
  }

  button {
    width: fit-content;
    font-size: 14px;
  }

  #affirmation {
    font-size: 1.2em;
  }
}